
			<header class="article-header">
				<h1 class="article-title-tag">
					{% if post.category() %} 
						<a href="{{ post.category().link() }}" class="category-link"><i class="far fa-folder-open"></i> /{{ post.category().name }}</a>
					{% endif %}
					{{ post.title }}
			</h1>
				<div class="article-meta">
					<span class="article-date">{{ post.date }}</span>
					<span class="article-tags">
						{% set tags = post.tags() %}
						{% if tags %} 
							{% for tag in tags %}
								<a href="{{ tag.link() }}" class=" button info-btn small">{{ tag.name }}</a>
							{% endfor %}
						{% endif %}
					</span>

				</div>
			</header>