{% extends "templates/base.twig" %}

{% block site_header %}
	<div class="root-header-link">
		<a href="//jeffwilkerson.net"><i class="far fa-arrow-alt-circle-left"></i> Return to jw.net</a>
	</div>

{% endblock %}
{% block content %}
	{#{{ dump() }}#}
	<section class="front-page-blurb large-page-header">
		<h1 class="">{{ post.title }}</h1>
		{{ post.content }}
		
	</section>
	<section class="main-content-area front-page-cats">
		<h2 class="section-header">Common Blog Categories</h2>
		<div class="cat-links">
			{% for cat in categories %}
				{% if 'uncategorized' not in cat.slug %}
					
					<h3><a href='{{ cat.link() }}' class="root-cat-link">{{ cat.cat_name }}</a></h3>

					{#
					{% set cat_posts = get_cat_posts(cat.cat_name) %}
					<div class="cell medium-4">
						<div class="cat-link-container">
							<h3><a href='{{ cat.link() }}' class="root-cat-link">{{ cat.cat_name }}</a></h3>
							{% if cat_posts.total %}
									
								<ul>
									{% for p in cat_posts.posts %}
										<li><a href="{{ p.link() }}" title="{{ p.title }}">{{ p.title }}</a></li>
									{% endfor %}
								</ul>
								{% if cat_posts.total > 5 %}
									<p><a href="{{ cat.link() }}" title="All { cat.cat_name }} posts">See all {{ cat.cat_name }} posts.</a></p>
								{% endif %}
							{% endif %}
							<p>Count: {{ cat_posts.total }}</p>
						</div>
					</div>
					#}
				{% endif %}
			{% endfor %}
		</div>
	</section>
	<section class="post-listing">
		<h2 class="section-header">Recent Posts</h2>
		{% for post in recent_posts %}
			{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
		{% endfor %}
		{% include 'partials/pagination.twig' with { pagination: recent_posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
	</div>
	
{% endblock %}
