{% extends "templates/base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }} main-content-area" id="post-{{ post.ID }}">
			<header class="article-header">
				<h1 class="article-h1">{{ post.title }}</h1>
				<div class="article-meta">
					<span class="article-date">{{ post.date }}</span>
					<span class="article-category">
						{{ get_category() }}
					</span>
					<span class="article-tags">
						{{ get_tags() }} {{ post.terms('tags')|join(',') }}
					</span>

				</div>
			</header>
			<section class="article-content">

				<div class="article-body">
					{{post.content}}
				</div>
			</section>

			<!-- comment box -->
			<section class="comment-box">
				<!-- comments -->
				<div class="comments">
				    {% if post.comments %}
					<h3> comments </h3>
					{% for cmt in post.comments %}
					    {% include "comment.twig" with {comment:cmt} %}
					{% endfor %}
				    {% endif %}
				</div>

				{% if post.comment_status == "closed" %}
					<p> comments for this post are closed </p>
				{% else %}
				    <!-- comment form -->
				    {% include "comment-form.twig" %}
				{% endif %}
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
