{% block html_head_container %}

	{% include 'partials/head.twig' %}
	{% block head %}
	{% endblock %}

{% endblock %}

	<body class="{{body_class}} {{ url_slug }}" data-template="base.twig">
		<a class="skip-link show-for-sr" href="#content">{{ _e( 'Skip to content') }}</a>

  		<div class="root-container">
  			
			{% include 'partials/site-header.twig' %}
			{% block containercontent %}
				<main class="content-container {{ template_class }} {{ content_class }} {{ url_slug }}-content-container">
					<div class="grid-container">
						<div class="grid-x">
							<div class="cell">

				  				{% block content %}
									<section id="content" role="main" class="content-wrapper">
										{% if title %}<h1>{{title}}</h1>{% endif %}
										<div class="wrapper {{sidebar_class}}">
												Sorry, no content
											
										</div>
										{% if sidebar %}
											<aside class="layout-sidebar">
												{{sidebar}}
											</aside>
										{% endif %}
									</section>
								{% endblock %}
							</div>
						</div>
					</div>
				</main>
			{% endblock %}
			<div class="site-footer-container">

				{% block prefooter %}{% endblock %}
					
				{% block footer %}
					<footer class="site-footer" id="footer">
						{% include 'partials/site-footer.twig' %}
					</footer>
					<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=css&lang=ml&lang=html&lang=js"></script>
					{{ function('wp_footer') }}
				{% endblock %}
			</div>

		</div>
	</body>
</html>
